/* FOOTER START */
.footer {
    height: 65px;
    background: center center / cover no-repeat scroll $bg-grey ;
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__text {
    font-size: 12px;
    line-height: 24px;
    color: #445162;
}
/* FOOTER END */